/* Global fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Press+Start+2P&display=swap');

:root {
    --default: #121213;
    --christmas: #b22222;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}

/*Header*/
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0 10px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/*Header Title*/
.game-title {
    color: #FAEBD7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Press Start 2P', cursive;
}

html,
body {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* style for game theme image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* height: 100vh; */
    width: 100vw;
    margin: 0;
    padding: 0;
}


.cell-width {
    width: calc((100% / 5) - 0.25rem);
    height: 50px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    border: 1px solid #000;
    font-size: 1.5em;
}

/* Duplicates */




/* GAME */

#game {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;
    width: 100%;
    height: 72vh;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}

/* Modifying the grid to be responsive */
#grid {
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
    width: 600px;  
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8) ;
}

.box {
    width: 50px;
    height: 50px;
    /* margin: 4px; */
    border: 2px solid var(--empty);
    color: var(--default);
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    
}

.box.empty {
    background: var(--empty);
}

.box.wrong {
    background: var(--wrong);
}

.box.right {
    background: var(--right);
}

.animated {
    animation: flip 0.5s ease;
}

@keyframes flip {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}


footer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0 0 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6em !important;
    color: #FAEBD7;
    bottom: 0;
    right: 0;
    left: 0;
}

#guessInputDiv{
    visibility: visible;
}

/* Mobile devices (max-width: 600px) */
@media (max-width: 600px) {
    #grid {
        width: 100%;
    }
    .box {
        width: 34px;
        height: 34px;
        font-size: 1.3rem;
    }
    #themeName {
        font-size: 1rem !important;
    }
    footer{
        font-size: 0.5em !important;
    }
}

/* Tablets (min-width: 601px) and (max-width: 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    #grid {
        width: 90%;
    }
}

/* Desktops (min-width: 1025px) */
@media (min-width: 1025px) {
    #grid {
        width: 600px;
    }
    #guessInputDiv {
        visibility: hidden;
     }
}








h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #FAEBD7;
    text-align: center;
    margin-top: 1rem;
}

#timer {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #FAEBD7;
    text-align: center;
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 0rem !important;
}